[JIRA]
#server jira url
server =
#your email to which atlassian account was created
login =
#jira api key from user settings
api_key =
#project name from jira
project =

#parameters only for pub/sub
[PUB_SUB]
#choose google_credentials file
google_credentials = credentials/google-cloud-service-key.json
#choose topic name
topic_name=
#choose subscription name
subscription_name=
#choose project name
project_id=